.formSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formInsert {
    display: flex;
    align-items: center;
}

.main {
    background-image: url("https://i.pinimg.com/originals/10/b4/75/10b475512fd3a515a4ae58705ecfc419.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    min-height: 1000px;
}

.pokedex {
    background-image: url("https://wallpapercave.com/dwp2x/wp3170173.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    min-height: 1000px;
}

.labo {
    background-color: rgb(181, 181, 181);
    min-height: 1000px;
}

.pokebox {
    background-color: #e6deb7d3;
    width: 90%;
    margin: 5%;
    text-align: center;

    border: 1px solid;
    border-radius: 5px;
}

.colorMotisma {
    background-color: #ce4040ea !important;
}

.title {
    background-color: #d6d3c196;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    align-items: center;
    width: 40%;
    padding: 1px;

}
